<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign in</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/stul.css">
  </head>
  <body>
    <h1>Sign in with your username and password</h1>
    <form name="ent" method="post">
      Name?<br>
      <input type="text" size="25" maxlength="30"><br><br>
      Password?<br>
      <input type="password" size="25" maxlength="30"><br><br>
      <input type="checkbox" size="5"> remember you?<br><br>
      <input type="submit" name="sign" value="Sign in"><br>
    </form>
    <p><a href="/form.html">new for us?</a></p>
  </body>
</html>